

.signUp{
    background-image: url('img4.jpg');
    background-size: cover;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    background-color: #fff;
    padding: 10px;
    border:1px solid rgb(129,121,121);
    border-radius: 1px;
}


.signUplogo{
    width:150px;
    object-fit: contain;
    padding: 10px 0px;
}


.loginPara{
    color: rgba(var(--f52,142,142,142),1);
    font-size:17px;
    font-weight: 600;
    line-height: 20px;
    margin:0px 20px 20px 20px;
}

input{
    padding:1px;
    margin: 3px 0px;
    outline: none;
    font-size: 16px;
    width:100%;
    box-sizing: border-box;
}

.form > div{
    width:80%;
    margin:auto;
}

#submit-btn{
    background-color: #1773EA;
    border: none;
    border-radius: 3px;
    color:white;
    font-weight: bold;
    padding: 1px 1px;
    width:80%;
    cursor: pointer;
    margin-top: 8px;
}

.form2{
    background-color: #fff;
    padding: 20px;
    margin-top:5px;
    border:1px solid rgb(129,121,121);
    border-radius: 1px;

}